*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: rgb(240, 238, 232);
    
}
nav{
    background: #000508bd ;
    height: 80px;
    width: 100%;
    border-bottom: black;
    position: fixed;
    z-index: 1;
}

label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Ysabeau SC', sans-serif;
    cursor: pointer;
}
label.logo i{
    position: absolute;
    top:40px;
    
}
ul.logo2{
    width: 180px;
    display: inline-block;
    margin-top: 5px;
    padding-top: 7px;
    margin-left: 65px;
}

label.logo .logo2 li{
    width:200px;
    line-height: 30px;
    
}

label.logo .logo2 li.second{
    width:200px;
    line-height: 30px;
    font-size: 20px;
}

nav ul.direction{
    float:right;
    margin-right: 20px;
}

nav ul.direction li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul.direction li a{
    color:white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    background: #ff891b;
    transition: .5s;
}
nav ul.flags{
    float: right;
}
nav ul.flags li{
    display: inline-block;
    cursor: pointer;
    position: relative;
    top:0;
    left: 620px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}



@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul.direction li a{
        font-size:16px
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul.direction{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul.direction li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul.direction li a{
        font-size:20px;
    }
    a:hover,a.active{
        background: none;
        color:#0082e6
    }
    #check:checked ~ ul.direction{
        left : 0;
    }
}
/* Card Sections Start */
div.container {
    height: 22rem;
    border-bottom:5px double black;
    background:url(images/pexels-andre-15028045.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}

div.container h1.content{
    position: relative;
    top:150px;
    left: 220px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow:1px 1px 10px rgb(255, 255, 255);
    letter-spacing: 0.3rem;
    background-color: rgba(128, 128, 128, 0.432);
    width: 1100px;

    
}

div h3 a.aboutus{
    position: relative;
    top: 150px;
    left: 220px;
    border-radius: 5px;
    color:#000000;
    text-shadow:8px 8px 5px black;
    letter-spacing: 0.3rem;
}



a.aboutus:hover{
    background-color: #fa8a00;   
}


.cards{
    margin-top: 4rem;
    width: 1500px;
    height: 200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    
}

.xcard{
    width: 300px;
    height: 150px;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    cursor: pointer;
    margin-top: 80px;
}

.xcard .fast {
    background-color: #fa8a00;
    border: 5px solid orange;
    position: relative;
    border-radius: 5px;
    background-image: url(images/pexels-quintin-gellar-2199293.jpg);
    background-size: 350px;
    background-position:top;
    background-repeat: no-repeat,repeat;
    height: 200px;
    width: 350px;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;

}

.fast .content1{
    display: none;
    transition: 0.5s ease-in-out;
}


.xcard .fast:hover {
    background-color: #fa8a00;
    border: 5px solid orange;
    border-radius: 5px;
    background-image: url(images/kisspng-pickup-truck-semi-trailer-truck-clip-art-trucks-5abde843763021.0643451315223952034841.png);
    background-size: 200px;
    background-position:bottom;
    background-repeat: no-repeat,repeat;
    height: 300px;
    width: 500px;
    filter: grayscale(0%);
    transition: 0.5s ease-in-out;
    z-index: 1;
    margin-left: -80px;
    color: white;
    text-shadow: 0px 0px 20px black;    
}
.xcard .fast:hover .content1 {
    display: block;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 20px black;
    transition: 2s ease-in-out;
  }

.xcard .unmached {
    background-color: #fa8a00;
    top:0;
    left:0;
    border: 5px solid orange;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-image: url(images/pexels-kateryna-babaieva-3784335.jpg);
    background-size: 350px;
    background-position:top;
    background-repeat: no-repeat,repeat;
    height: 200px;
    width: 350px;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
    color: white;
    text-shadow: 0px 0px 20px black;
}
.unmached .content2{
    display: none;
    transition: 0.5s ease-in-out;
}

.xcard .unmached:hover {
    background-color: #fa8a00;
    top:0;
    left:0;
    border: 5px solid orange;
    border-radius: 5px;
    background-image: url(images/kisspng-computer-icons-gear-technology-system-gears-5abe092157c360.4679075215224036173595.png);
    background-size: 120px;
    background-position:bottom;
    background-repeat: no-repeat,repeat;
    height: 300px;
    width: 500px;
    filter: grayscale(0%);
    transition: 0.5s ease-in-out;
    z-index: 1;
    margin-left: -80px;

}

.xcard .unmached:hover .content2 {
    display: block;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 20px black;
    transition: 2s ease-in-out;
  }

  .enduring .content3{
    display: none;
    transition: 0.5s ease-in-out;
}

.xcard .enduring {
    background-color: #fa8a00;
    top:0;
    left:0;
    border: 5px solid orange;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-image: url(images/pexels-fauxels-3183197.jpg);
    background-size: 350px;
    background-position:top;
    background-repeat: no-repeat,repeat;
    height: 200px;
    width: 350px;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}
.xcard .enduring:hover .content3 {
    display: block;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 20px black;
    transition: 2s ease-in-out;
  }

.xcard .enduring:hover {
    background-color: #fa8a00;
    top:0;
    left:0;
    border: 5px solid orange;
    border-radius: 5px;
    background-image: url(images/kisspng-computer-icons-customer-service-icon-design-it-ser-ub4we-engineering-services-5b04fd031e98b6.5225810215270535711253.png);
    background-size: 120px;
    background-position:bottom;
    background-repeat: no-repeat,repeat;
    height: 300px;
    width: 500px;
    filter: grayscale(0%);
    transition: 0.5s ease-in-out;
    z-index: 1;
    margin-left: -80px;
    color: white;
    text-shadow: 0px 0px 20px black;
}
/* Card Sections End */
/* Aboutus Sections End */

#aboutus{
    border: 1px solid black;
    margin:400px 0 100px 0;
    background-color: #475461;
}

#aboutus h1{
    text-align: center;
    padding: 2rem;
    color: wheat;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.1s ease-in;

}
#aboutus h1:hover{
    text-decoration: underline;
}
#aboutus p {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1300px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Ysabeau Office', sans-serif;
}